* {
    font-family: 'Open Sans', sans-serif;

}

/*background image*/
.header {
    background-color: white;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/*Header and navigation styles*/
.nav-title {
    font-weight: 800;
    font-size: 45px;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 226px;
}

nav li {
    list-style: none;
    margin-left: 50px;
    align-items: center;
    font-weight: 400;
font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav button .orange {
    background-color: #FD6E0A
}

/*color*/
.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    color: rgb(255, 255, 255);
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    margin-right: 30px;
    
}

.btn-contact {
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    color: #FD6E0A;
    border-radius: 1px;
    border-color: #FD6E0A;

}

/*banner design*/
.banner {
    margin: 0px 38px 0px 226px;
   
   display: flex;
    align-items: center;
}

.banner div {
    margin-right: 167px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;


}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;

}

.banner-para {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/*about section*/
.main {

    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
}

section {
    margin-top: 130px;
    text-align: center;
}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 155px;
}

.section-para {
    font-weight: 400;
    font-size: 18px;

    margin-bottom: 30px;
    color: #757575;
}

/*about info section*/
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.about-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.about-para {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/*what title*/
.what-para {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    padding: 0px 210px 0px 200px;
}

.skill-container {
    display: flex;
    gap: 20px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-img {
    position: top left;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-para {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/*Resume*/
.edu-exp-container {
    display: flex;
    
}

.edu-exp-title {
    font-weight: 700;
    font-size: 30px;
}

.resume {
    font-weight: 700;
    font-size: 25px;
}

.resume-date {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

.resume-para {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.re{
    margin: 30px 0px;
}

.last-container{
    display: flex;
   text-align: left;
   background-color: rgb(226, 209, 209);
   gap: 117px;
   padding:  55px 280px 150px 280px;
  
}
.footer{
  
}
.last-container h2{
    font-weight: 700;
font-size: 35px;
}
.connect-para{
    color: #474747;
    font-weight: 400;
font-size: 16px;
}
.text{
    border: 0px;
    margin-bottom: 30px;
    width: 300px;
    padding: 18px 280px 18px 30px;
    font-weight: 400;
font-size: 16px;
   
}
.connect input{
    height: 64px;
}